 
<div class="profile clearfix" data-th-fragment="menu_profile_quick_info">
<div class="profile_pic">
	</div>
	<div class="clearfix"></div>
</div>
<div class="profile clearfix" data-th-fragment="menu_profile_quick_info1">
	<div class="profile_pic">
		<img th:src="@{/images/img.jpg}" alt="..."
			class="img-circle profile_img">
	</div>
	<div class="profile_info">
		<span>Welcome,</span>
		<h2>Pierre</h2>
	</div>
	<div class="clearfix"></div>
</div>