<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar_menu">
	<div class="menu_section">
		<!-- <h3>General</h3> -->
		<ul class="nav side-menu">
			<li><a><i class="fa fa fa-users"></i> Administrateur<span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a data-th-href="@{listeprofil}">Profils</a></li>
					<li><a data-th-href="@{admin/user/listes_users}"> utilisateurs</a></li>
					<li><a data-th-href="@{form_upload}">Juridictions</a></li>
					<li><a data-th-href="@{form_advanced}">Advanced Components</a></li>
					<li><a data-th-href="@{form_validation}">Form Validation</a></li>
				
					<li><a data-th-href="@{form_buttons}">Form Buttons</a></li>
				</ul></li>
			<li><a><i class="fa fa-desktop"></i>Dossier <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a data-th-href="@{Compte}"> Compte</a></li>
					<li><a data-th-href="@{invoice}">Invoice</a></li>
					<li><a data-th-href="@{calendar}">Calendar</a></li>
					<li><a data-th-href="@{form_wizards}">Form Wizard</a></li>
				</ul></li>
				
				<li><a><i class="fa fa-home"></i> Home <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a data-th-href="@{index}">Statistiques</a></li>
					
				</ul></li>
			<li><a><i class="fa fa-table"></i> Liste Tables <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a data-th-href="@{tables}">Tables</a></li>
					<li><a data-th-href="@{tables_dynamic}">Table Dynamic</a></li>
				</ul></li>
			<li><a><i class="fa fa-clone"></i>Layouts <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a data-th-href="@{fixed_sidebar}">Fixed Sidebar</a></li>
					<li><a data-th-href="@{fixed_footer}">Fixed Footer</a></li>
				</ul></li>
		</ul>
	</div>
	<div class="menu_section">
		<h3>Live On</h3>
		<ul class="nav side-menu">
			<li><a><i class="fa fa-bug"></i> Project <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a data-th-href="@{projects}">Projects</a></li>
					<li><a data-th-href="@{project_detail}">Project Detail</a></li>
					<li><a data-th-href="@{profile}">Profile</a></li>
				</ul></li>
			<li><a><i class="fa fa-lock"></i> Login <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a data-th-href="@{plain_page}">Plain Page</a></li>
					<li><a data-th-href="@{login}">Login</a></li>
					<li><a data-th-href="@{pricing_tables}">Pricing Tables</a></li>
				</ul></li>
			
		</ul>
	</div>

</div>