
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title data-layout-title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">Gentelella
	Alela! |</title>

<!-- Bootstrap -->
<link th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}"
	rel="stylesheet" />
<!-- Font Awesome -->
<link th:href="@{/vendors/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet">
<!-- NProgress -->
<link th:href="@{/vendors/nprogress/nprogress.css}" rel="stylesheet">

<link th:href="@{/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet">
<link th:href="@{/vendors/iCheck/skins/flat/green.css}" rel="stylesheet">
<link th:href="@{/vendors/fullcalendar/dist/fullcalendar.min.css}" rel="stylesheet">
<link th:href="@{/vendors/fullcalendar/dist/fullcalendar.print.css}" rel="stylesheet" media="print">   
<!-- Custom Theme Style-->
<link th:href="@{/css/custom.min.css}" rel="stylesheet">
</head>

<body class="nav-md" ><div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col">
				<div class="left_col scroll-view">
					<div class="navbar nav_title" style="border: 0;">
						<a href="index.html" class="site_title"><i class="fa fa-paw"></i>
							<span>GESTRIM</span></a>
					</div>

					<div class="clearfix"></div>

					<!-- menu profile quick info -->
					<div
						data-th-replace="compartment/compartment_menu_profile_quick_info::menu_profile_quick_info"></div>
					<!-- /menu profile quick info -->

					<br />

					<!-- sidebar menu -->
					<div
						data-th-replace="compartment/compartment_sidebar_menu::sidebar_menu"></div>
					<!-- /sidebar menu -->

					<!-- /menu footer buttons -->
					<div
						data-th-replace="compartment/compartment_menu_footer::menu_footer"></div>
					<!-- /menu footer buttons -->
				</div>
			</div>

			<!-- top navigation -->
			<div
				data-th-replace="compartment/compartment_top_navigation::top_navigation"></div>
			<!-- /top navigation -->

			<!-- page content -->
			<div data-layout-fragment="content"></div>
			<!-- /page content -->

			<!-- footer content -->
		 <div data-th-replace="compartment/compartment_footer::footer"></div>
			<!--   /footer content -->
			 
		</div>
	</div>
	<!-- <script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>-->

	 <script th:src="@{/js/jquery.min.js}"></script>
	 <script th:src="@{/js/main.js}" type="text/javascript" ></script>
	<!-- Bootstrap -->
	<script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
	<!-- FastClick -->
	<script th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
	<!-- NProgress -->
	<script th:src="@{/vendors/nprogress/nprogress.js}"></script>
	<script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
	<script th:src="@{/js/custom.min.js}"></script>
	<script th:src="@{/vendors/validator/validator.js}"></script>
	<script th:src="@{/vendors/moment/min/moment.min.js}"></script>
    <script th:src="@{/vendors/fullcalendar/dist/fullcalendar.min.js}"></script>
  	<script th:src="@{/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js}"></script>
	
	

	<!-- jQuery-->
</body>

</html>
