<!DOCTYPE html>
<html lang="en" xmlns:th="htpp:www/thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title></title>

<!-- Bootstrap -->
<link th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet" />
<!-- Font Awesome -->
<link th:href="@{/vendors/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
<!-- NProgress -->
<link th:href="@{/vendors/nprogress/nprogress.css}" rel="stylesheet">
<!-- Animate.css -->
<link th:href="@{/vendors/animate.css/animate.min.css}" rel="stylesheet">

<!-- Custom Theme Style -->
<link th:href="@{/css/custom.min.css}" rel="stylesheet">
</head>

<body class="bg-default" >
	<div class="row justify-content-center">
		<a class="hiddenanchor" id="signup"></a> <a class="hiddenanchor"
			id="signin"></a>

		<div class="login_wrapper">
			<div class="animate form login_form">
				<section class="login_content" >
				<h1>AUTHENTIFICATION</h1>
					<form role="form">
						
						<div>
							<input type="text" class="form-control"
								placeholder="Nom d'utilisateur" required="required" />
						</div>
						<div>
							<input type="password" class="form-control"
								placeholder="Mot de passe" required="required" />
						</div>
						<div>
							<a class="btn btn-default submit" data-th-href="@{index}">Connexion</a>
							<a class="reset_pass" href="#">Mot de passe oublié?</a>
						</div>

						<div class="clearfix"></div>

						<div class="separator">
							<p class="change_link">
								New to site? <a data-th-href="@{Compte}" class="to_register"> créer un
									compte? </a>
							</p>

							<div class="clearfix"></div>
							<br />
						</div>
					</form>
				</section>
			</div>

			<div id="register" class="animate form registration_form">
				<section class="login_content">
					<form>
						<h1>Create Account</h1>
						<div>
							<input type="text" class="form-control"
								placeholder="Nom d'utilisateur" required="required" />
						</div>
						<div>
							<input type="email" class="form-control" placeholder="Email"
								required="required" />
						</div>
						<div>
							<input type="password" class="form-control"
								placeholder="Mot de passe" required="required" />
						</div>
						<div>
							<a class="btn btn-default submit" href="index.html">Submit</a>
						</div>

						<div class="clearfix"></div>

						<div class="separator">
							<p class="change_link">
								Already a member ? <a href="#signin" class="to_register">
									Log in </a>
							</p>

							<div class="clearfix"></div>
							<br />
						</div>
					</form>
				</section>
			</div>
		</div>
	</div>
 
</body>
</html>
