<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	data-layout-decorate="~{compartment/design_layout}">
<head>
</head>

<body class="nav-md">
	<!-- page content -->
	<div class="right_col" role="main" data-layout-fragment="content">
		<div class="title_right">
			<div
				class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="recherche">
				</div>
			</div>
		</div>

		<div class="x_content">
			

			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>
							Fixed Header Example <small>Users</small>
						</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-expanded="false"><i
									class="fa fa-wrench"></i></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Settings 1</a></li>
									<li><a href="#">Settings 2</a></li>
								</ul></li>
							<li><a class="close-link"><i class="fa fa-close"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<p class="text-muted font-13 m-b-30">This example shows
							FixedHeader being styling by the Bootstrap CSS framework.</p>
						<table id="datatable-fixed-header"
							class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>id</th>
									<th>libelle</th>
									<th>description</th>
									<th>Editer</th>
									<th>Supprimer</th>
								</tr>
							</thead>


							<tbody>

								<tr th:each="profil: ${profils}">
									<td th:text="${profil.id}">id</td>
									<td th:text="${profil.libelle}" >libelle</td>
									<td th:text="${profil.descriptions}" >description</td>
									<td><a th:href="@{findOneProfil/(id=${profil.id})}"
										class="btn btn-primary eBtn">Edit</a></td>
									<td><a th:href="@{deleted/(id=${profil.id})}"
										class=" btn btn-danger delBtn"> <i
											class="fas fo-user-edit ml-2"></i> delete
									</a></td>

								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="myEditform">
			
				<div class="modal fade" id="exampleModal" tabindex="-1"
					role="dialog" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">New message</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-group">
										<label  for="recipient-libelle" class="col-form-label" > Libelle:</label>
										<input type="text" class="form-control" id="recipient-libelle" >
									</div>
									<div class="form-group">
										<label for="recipient-description" class="col-form-label">description:</label>
								<input type="text"  class="form-control"  id="recipient-description" >
									</div>
									
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">quitter</button>
								<button type="button" class="btn btn-primary">Envoyer</button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>


</body>
</html>